body{
       font-family: "Marker Felt", "Droid Sans Mono"", fantasy;
 	 color: #003366;
    }

    h1  {
 	   font-size: 1.3em;
 	   text-align: center;
    }

   table {
 	   margin-left: auto;
 	   margin-right: auto;
 	   text-align: left;
 	   border-collapse: collapse;
   }

   tr   {
	  border: 1px solid #F40AB6;
	  text-align: center;
	  background-color:#00CBFF;
  }

  th   {
	 text-align: center;
	 color: #F40AB6;
	 background-color: #9100FF;
  }
